<div class="container">
  <form
    #formDirective="ngForm"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit(); formDirective.resetForm()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
      <mat-error *ngIf="registerForm.controls['firstName'].errors?.required"
        >Please enter your first name !</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required />
      <mat-error *ngIf="registerForm.controls['lastName'].errors?.required"
        >Please enter your last name !</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="registerForm.controls['email'].errors?.required"
        >Please enter your email !</mat-error
      >
      <mat-error *ngIf="registerForm.controls['email'].errors?.pattern"
        >Please enter a valid email !</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="registerForm.controls['password'].errors?.required"
        >Please enter your password !</mat-error
      >
      <mat-error *ngIf="registerForm.controls['password'].errors?.minlength"
        >Password must be at least 6 characters !</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </form>
</div>
